[flake8]
exclude =
    .venv,
    __pycache__,
    files,
    build,
    dist
max-line-length = 120
extend-ignore =
    E203,
    E266,
    W503
per-file-ignores =
    app/tests/*: E402, W291, W293, E501, F541,
    scripts/*: E402, W291, W293, E501,
    app/web/main.py: E402, F401, W291, W293, E501, E302, E305, W292, F841,
    app/agents/leonardo/worker.py: F401, W293,
    app/agents/nolan/worker.py: E305, E501,
    app/agents/newman/worker.py: E501